ul{list-style-type:none; margin:20px; padding:0; overflow:hidden;}
li{float: left; }
a{display:block; width:200px;height: 35px; background:}
a:link {color: white;}
a:visited {color: white;decoration:none;}
a:hover {color: brown;}
a:active {COLOR: #00FF00;}