.table{
	background-image: url(images/wooden.png); 
	text-align: center;
	margin-left:auto;
	margin-right:auto; 
	margin-top: 35px;
	width:1000px;
}
.table2{
	background-color:#130703; 
	text-align: center;
	margin-left:auto; 
	margin-right:auto;
	width: 1000px;
}
.body{ 
	text-align: center; 
	background-color:black;
}
.td{
	text-align: left;
}
.menu{
	font-size: 29px; 
	color: white; 
	font-weight: bolder; 
	font-family: cambria, serif, hevetica; 
	text-decoration: none;
}
.opis{
	font-size: 24px; 
	color: white; 
	font-style: italic;
}
.pizza{
	color: #EDD870; 
	font-size: 35px; 
	font-style: italic;
}
.link{
	font-size: 25px; 
	color: white; 
	font-style: italic; 
	font-weight: bolder;
}
.pizzabody{
	background-image: url(images/pizzabackHD.jpg);
	font-family: 'Russo One', sans-serif;
}
.menutable{
	font-size: 21px; 
	color:#EDD870;
}
.tdwidth{
	width: 850px; 
	text-align: left;
}

hr{
	color: white;
}
#main_frame{
	width:1100px;
	height:3500px;
}
